#header {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;

  h1 {
    margin: 0;
  }

  #button-container {
    display: grid;
    justify-content: end;

    button {
      width: 100px;
      height: 30px;
    }

  }
}